@model FoodHealthModulo1.Models.Tracing

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tracing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_de_seguimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_de_seguimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medida_de_cuello)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medida_de_cuello)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medida_de_busto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medida_de_busto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medida_de_cintura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medida_de_cintura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medida_de_pierna_derecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medida_de_pierna_derecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medida_de_pierna_izquierda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medida_de_pierna_izquierda)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
