@model IEnumerable<FoodHealthModulo1Final.Models.Diary.Diary>

@{
    ViewBag.Title = "Index";
}

<header class="masthead">
    <div class="container d-flex h-100 align-items-center">

        <div class="container-fluid">

            <p style="padding-top:80px">
                @Html.ActionLink("Crear cita", "Create", new { }, new { @class = "btn btn-success" })
            </p>
            <table class="table  table-striped table-dark table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AppointmentType.NameAppointment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateOfAppointment)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AppointmentType.NameAppointment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfAppointment)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.DiaryID }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Detalles", "Details", new { id = item.DiaryID }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Borrar", "Delete", new { id = item.DiaryID }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</header>
